{% extends "_base_dashboard.twig" %}

{% block content %}

    <h2>Google Authentication</h2>
    {% if isAUTH == false %}
        <p>For use Google Cloud Print is required Google Authentication</p>
        <a href="{{ path_for('google-auth') }}" class="btn btn-primary">Authenticate</a>
    {% else %}
        <a href="{{ path_for('google-logout') }}" class="btn btn-danger">Logout</a>
        <p>You're authenticated. Now you can configure your default <a href="{{ path_for('dashboard-printers') }}">Printer</a> and see <a href="{{ path_for('dashboard-print-jobs') }}">Print Jobs.</a> See the <a href="{{ path_for('dashboard-tutorial') }}">Tutorial</a> for more information about configure</p>
    {% endif %}

{% endblock %}