{% extends "_base_dashboard.twig" %}

{% block content %}
    <h2>Printer Jobs</h2>

    <!-- SignalR Simulation -->
    <button class="btn btn-primary">Simulate SignalR notify</button>
    <br><br>

    <!-- DataTables Example -->
    <div class="card mb-3">
        <div class="card-header">
            <i class="fas fa-table"></i>
            Jobs List
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <!-- head title -->
                    <thead>
                    <tr>
                        <th>Job Id</th>
                        <th>Document</th>
                        <th>Printer</th>
                        <th>date</th>
                        <th>Status</th>
                    </tr>
                    </thead>
                    <!-- foot title -->
                    <tfoot>
                    <tr>
                        <th>Job Id</th>
                        <th>Document</th>
                        <th>Printer</th>
                        <th>date</th>
                        <th>Status</th>
                    </tr>
                    </tfoot>
                    <!-- Content -->
                    <tbody>
                    {% for job in JOBS %}
                        <tr>
                            <td>{{ job.id }}</td>
                            <td>{{ job.title }}</td>
                            <td>
                                <p>{{ job.printerName }}</p>
                                <p>{{ job.printerid }}</p>
                            </td>
                            <td>{{ job.createTime | date("Y/d/m h:i:s A") }}</td>
                            <td><span class="badge badge-success">{{ job.status }}</span></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}