{% extends "_base_dashboard.twig" %}

{% block content %}
    <h2>Printer Jobs</h2>

    <!-- Status -->
    <div id="signalr-status"></div>
    <!-- SignalR Simulation -->
    <input type="text" class="form-control" id="inputDoc" placeholder="URL" value="http://www.africau.edu/images/default/sample.pdf">
    <button class="btn btn-primary" onclick="simulate()">Simulate SignalR notify</button>
    <br><br>

    <div class="row">
        <div class="col-xs-12 col-md-4">
            {% if PRINTER|length > 0 %}
                <div class="card text-white bg-success">
                    <div class="card-body">
                        <h5 class="card-title">Current Selected Printer </h5>
                        <p class="card-text">
                            <span id="id-printer">{{ PRINTER.name }}</span><br>
                            <span id="id-printer">{{ PRINTER.id }}</span>
                        </p>
                        <a href="{{ path_for('dashboard-printers') }}" class="btn btn-light">Go to settings</a>
                        <span class="badge badge-dark">{{ PRINTER.connectionStatus }}</span>
                    </div>
                </div>
            {% else %}
                <div class="card text-white bg-primary">
                    <div class="card-body">
                        <h5 class="card-title">Printer not selected</h5>
                        <a href="{{ path_for('dashboard-printers') }}" class="btn btn-light">Go to settings</a>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
    <br><br>


    <!-- DataTables Example -->
    <div class="card mb-3">
        <div class="card-header">
            <i class="fas fa-table"></i>
            Jobs List
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <!-- head title -->
                    <thead>
                    <tr>
                        <th>Job Id</th>
                        <th>Document</th>
                        <th>Printer</th>
                        <th>date</th>
                        <th>Status</th>
                    </tr>
                    </thead>
                    <!-- foot title -->
                    <tfoot>
                    <tr>
                        <th>Job Id</th>
                        <th>Document</th>
                        <th>Printer</th>
                        <th>date</th>
                        <th>Status</th>
                    </tr>
                    </tfoot>
                    <!-- Content -->
                    <tbody>
                    {% for job in JOBS %}
                        <tr>
                            <td>{{ job.id }}</td>
                            <td>{{ job.title }}</td>
                            <td>
                                <p>{{ job.printerName }}</p>
                                <p>{{ job.printerid }}</p>
                            </td>
                            {#<td>{{ job.createTime | date("Y/d/m h:i:s A") }}</td>#}
                            <td>{{ job.createTime }}</td>
                            <td><span class="badge badge-success">{{ job.status }}</span></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}